    <div class="edit"></div>
      <header id="blog-header">
          <h2>VENICE CANALS</h2>
          <h3>Posted On February 1, 2013 By Olivia</h3>
          <div class="pull-right">
            <div class="edit-btn btn" id="edit-btn">Edit</div>
            <div class="done-btn btn" id="done-btn">Done</div>
          </div>
      </header>
      <section class="body-wrapper">
          <div class="toolbar toolbar-hide" id="toolbar">
            <ul>
              <li class="tool" id="text"></li>
              <li class="tool" id="color"></li>
              <li class="tool" id="image"></li>
              <li class="tool" id="audio"></li>
              <li class="tool" id="video"></li>
            </ul>
          </div>
          <div class="body">
              <div class="layouts_grid" id="layouts_grid">
                <ul>
                  <li class="layout_block" data-id="3" data-row="1" data-col="1" data-sizex="7" data-sizey="5" style="background-image: url(<%= image_path('ex1.jpg') %>);"></li>
                  <li class="layout_block" data-id="2" data-row="2" data-col="1" data-sizex="4" data-sizey="4">
                    <p>I took advantage of an unseasonably warm day in Venice to wear out this box tee from one of my favorite New Zealand labels, Salasai. I love shapeless things like this one, even if it tends to be unflattering on my boy like figure. Paired it with my Isabel Rio sandals which have officially become my most versatile purchase up to date, and a glossy red lip to show that I am a girl, after all. On a good day, the Venice Beach canals are a great tourist distraction from the wackiness of the Boardwalk.</p>
                    <p>My best tip for any visitor spending the day on the West Side is to book a reservation at Gjelina’s, take a stroll through Abbot Kinney, stop by Satine, and locate the second rate version of what was inspired by the original Venice Canals. Once you move past the travel recommendations of tourist traps, you can really appreciate what the locals living in Los Angeles are all about. </p>
                    <p>Consectetur adipisicing elit. Ratione porro fuga officiis architecto doloremque dignissimos odio illum. Aliquam consequatur dolor commodi accusantium a repellat tenetur assumenda minima architecto autem. Quibusdam vel dignissimos sapiente repudiandae rerum quae in.</p>
                  </li>
                  <li class="layout_block" data-id="3" data-row="2" data-col="1" data-sizex="3" data-sizey="2" style="background-image: url(<%= image_path('img_2.jpg') %>);">
                  </li>
                  <li class="layout_block" data-id="3" data-row="3" data-col="1" data-sizex="3" data-sizey="2" style="background-image: url(<%= image_path('img_5.jpg') %>);">
                  </li>
                  <li class="layout_block" id="text-2" data-id="7" data-row="5" data-col="1" data-sizex="4" data-sizey="2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit modi debitis dolorem repellendus ipsam ratione reprehenderit harum impedit vero praesentium adipisci architecto rem necessitatibus? Voluptas non odio earum eveniet rerum. Est quidem et doloremque a quod unde deserunt omnis culpa. </p>
                    <p>Consectetur adipisicing elit. Ratione porro fuga officiis architecto doloremque dignissimos odio illum. Aliquam consequatur dolor commodi accusantium a repellat tenetur assumenda minima architecto autem. Quibusdam vel dignissimos sapiente repudiandae rerum quae in.</p>
                  </li>
                </ul>
              </div>
          </div>
      </section>