    <header id="blog-header">
        <h2>Blog Title</h2>
    </header>
    <section class="body-wrapper">
        <div class="body">
            <div class="layouts_grid" id="layouts_grid">
              <ul>
                <li class="layout_block" data-id="3" data-row="1" data-col="1" data-sizex="7" data-sizey="5">
                  <%= image_tag('ex1.jpg') %>  
                </li>
                <li class="layout_block" data-id="2" data-row="2" data-col="1" data-sizex="4" data-sizey="4">
                  <input type="text" rows="20"></input>
                </li>
                <li class="layout_block" data-id="3" data-row="2" data-col="1" data-sizex="3" data-sizey="2">
                  <%= image_tag('ex1.jpg') %>  
                </li>
                <li class="layout_block" data-id="3" data-row="3" data-col="1" data-sizex="3" data-sizey="2">
                  <%= image_tag('ex1.jpg') %>  
                </li>
              </ul>
            </div>
        </div>
    </section>
