<!DOCTYPE HTML>
<html lang="en">
	<!--
		ENSO - A minimal HTML5 boilerplate
		www.spiegelma.de
	-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>BananaPlate &mdash; Get ripe now</title>

		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content=" &mdash; A platform for the new fashion blogger.">
		<meta name="keywords" content="bananaplate fashion blog bloggin design shop">
		<meta name="author" content="BananaPlate Team">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>

		<%= javascript_include_tag "application" %>
	</body>
</html>